* {
  padding: 0;
  margin: 0;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  color: #fab702;
}
ul {
  padding: 0;
  margin: 0;
}

/* header */
/* topnav */
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.container-full {
  width: 100%;
  display: flex;
}
header {
  max-height: 155px;
}

.topnav {
  background: #f5f5f5;
}

.left {
  padding: 20px 0 16px 0;
}
.left a {
  text-decoration: none;
  color: black;
}
.right {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 16px 0;
}
.right .email span {
  display: inline-block;
}
.contact {
  float: right;
  line-height: 0.9;
}
.email {
  margin-right: 45px;
}

.right .email img {
  margin-right: 5px;
}
.contact-img {
  margin-right: 5px;
}

/* Navbar */

nav {
  background: #ffffff;
}

.logo {
  padding: 25px 0 25px 0;
}

.navbar {
  padding: 50px 0 30px 0;
  display: flex;
}
.navbar ul {
  padding: 0;
  margin: 0;
}
.navbar ul li {
  list-style-type: none;
  float: left;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

a.active {
  color: #fab702;
}
.search {
  padding-left: 40px;
}

/* banner */
.banner {
  background: #a7a9fe;
}

.heading {
  padding-top: 250px;
  font-family: "Montserrat-black", sans-serif;
  font-weight: bold;
  font-size: 64px;
  color: white;
}
.description {
  color: white;
  padding-top: 35px;
  padding-bottom: 40px;
  line-height: 2;
}

.explore {
  padding-bottom: 250px;
}
.explore button {
  background: #fab702;
  padding: 25px 50px;
  border: none;
}

/* contact-us section */

.contact-us {
  background: #fab702;
}
.consult {
  padding: 40px 0;
  color: white;
  font: 30px "Roboto", sans-serif;
}
.consult span {
  font: italic 30px "Roboto", "sans-serif";
  text-decoration: underline;
  color: black;
}
.quote-btn {
  padding: 30px 0;
}
.quote-btn button {
  padding: 20px 40px;
  color: #fab702;
  font: 14px "Roboto";
  border: none;
  background: white;
}

/* services */

.service-heading {
  text-align: center;
  padding-top: 180px;
}
.service-heading h1 {
  font-size: 44px Bold "Montserrat-black", sans-serif;
  padding-bottom: 40px;
}
.services-description {
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.services-description p {
  font: 14px "Roboto", sans-serif;
  line-height: 2;
}

.service-card {
  width: 30%;
}
.service-card-img {
  padding-bottom: 35px;
}
.service-card-img img {
  width: 100%;
  height: auto;
}

.service-card-heading {
  padding-bottom: 40px;
}
.service-card-heading h1 {
  font: 22px Bold "Montserrat-black", sans-serif;
}
.service-card-description {
  font: 14px "Roboto", sans-serif;
  line-height: 2;
  padding-bottom: 40px;
}

.service-card-readmore {
  padding-bottom: 125px;
}
.service-card-readmore a {
  font: underline 14px "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}
.service-card-readmore a.active {
  color: #fab702;
  /* text-decoration: underline; */
  padding-bottom: 10px;
  border-bottom: #fab702 1px solid;
}

/* testimonial */

.video {
  width: 50%;
}
.testimonial-types {
  background: #f8f8f8;
  /* margin-left: 50px; */
  padding: 120px 0;
  width: 50%;
}
.testimonial-info {
  display: flex;
  padding-bottom: 50px;
  width: 70%;
  margin-left: 50px;
}
.testimonial-img {
  padding: 20px 0 0 0;
}
.testimonial-content {
  padding-left: 30px;
}
.testimonial-heading {
  padding-bottom: 30px;
}

/* portfolio */

.portfolio-info {
  text-align: center;
  padding: 120px 0 70px 0;
}

.portfolio-heading {
  font: bold 44px "Montserrat-black", sans-serif;
  padding-bottom: 40px;
}
.portfolio-description {
  font: 14px "Roboto", sans-serif;
  line-height: 2;
  padding-bottom: 90px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-nav {
  display: flex;
  justify-content: center;
}
.portfolio-nav ul {
  padding: 0px;
  margin: 0;
}
.portfolio-nav li {
  float: left;
  padding-right: 20px;
  list-style-type: none;
}
.portfolio-nav a {
  text-decoration: none;
  color: black;
}

.portfolio .container-full {
  justify-content: space-between;
}
.portfolio-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 40px 40px;
}
.portfolio-card {
  width: 33%;
  background: #fef6de;
}
.portfolio-card-heading {
  font: bold "Roboto", sans-serif;
  padding-top: 0;
}
.portfolio-card-img img {
  width: 100%;
}

.portfolio-card-link a {
  background: #fab702;
  padding: 10px;
  display: inline-block;
}
.portfolio-card-link a:last-child img {
  width: 13px;
}

/* feedback */
.feedback-text {
  text-align: center;
  padding: 120px 0;
}
.feedback-heading {
  font: bold 44px "Montserrat-black", sans-serif;
  padding-bottom: 40px;
}
.feedback-description {
  line-height: 1.5;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.slick-initialized .slick-slide {
  display: flex;
}
/* Styling the default Slick dots */

.slick-dots {
  display: flex !important;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;
}
.slick-dots li {
  margin: 0 0.25rem;
  list-style-type: none;
}
.slick-dots li button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;

  border: none;
  border-radius: 100%;
  background-color: #f1f1f1;

  text-indent: -9999px;
}
li.slick-active button {
  background-color: #fab702;
}
.slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.slides {
  display: flex;
  background: #f9f9f9;
}
.customer-img {
  width: 10%;
}
.user-feedback {
  padding: 35px 30px 35px 20px;
}
.brand {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
}
.brand img {
  width: 20%;
}

/* COunter */
#counter {
  background: #fab702;
}
.counter-wrap {
  padding: 70px 0;
  display: flex;
  justify-content: space-around;
}
.counter {
  /* width: 20%; */
  text-align: center;
  color: white;
}
.counter h1:last-child {
  font: bold 50px "Roboto", sans-serif;
}
.counter p:first-child {
  padding-bottom: 25px;
  font: 13px "Montserrat-black", sans-serif;
}

/* style-1 */
.style-1 {
  background: #f9f9f9;
  padding: 100px 0;
}
.style-1-wrap {
  display: flex;
  justify-content: space-around;
  padding: 45px 50px 30px 35px;
  background: #ffffff;
  width: 100%;
  border-left: 2px solid #fab702;
}
.style-1-text h3 {
  font: 20px "Roboto", sans-serif;
}
.style-1-text p {
  font: 13px "Montserrat-black", sans-serif;
}

/* featured */
.featured-news-heading {
  text-align: center;
  padding-top: 180px;
}
.featured-news-heading h1 {
  font: bold 44px "Montserrat-Bold", sans-serif;
  padding-bottom: 40px;
}
.featured-newss-description {
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.featured-newss-description p {
  font: 14px "Roboto", sans-serif;
  line-height: 2;
}

.featured-news-card {
  width: 30%;
}
.featured-news-card-img {
  padding-bottom: 35px;
}
.featured-news-card-img img {
  width: 100%;
  height: auto;
}

.featured-news-card-heading {
  padding: 0 20px 20px 0;
}
.featured-news-card-heading h1 {
  font: 22px Bold "Montserrat-black", sans-serif;
}
.featured-news-card-description {
  font: 14px "Roboto", sans-serif;
  line-height: 2;
  padding-bottom: 20px;
}

.featured-news-card-readmore {
  padding-bottom: 125px;
}
.featured-news-card-readmore a {
  font: underline 14px "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}
.featured-news-card-readmore a.active {
  color: #fab702;
  /* text-decoration: underline; */
  padding-bottom: 10px;
  border-bottom: #fab702 1px solid;
}

/* footer */

.footer {
  background: #252c3a;
  padding: 80px 0 110px 0;
  color: #ffffff;
}
.footer-link {
  width: 24%;
}
.footer-heading h3 {
  font: 14px "Roboto", sans-serif;
}

.footer-nav {
  padding-top: 25px;
}
.footer-nav ul li {
  list-style-type: none;
  padding: 18px 0;
  border-bottom: 1px solid #303744;
  font: 13px "Roboto", sans-serif;
}
.footer-nav ul li i {
  padding-right: 10px;
}

.footer-recent-news {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 12px 0;
  border-bottom: 1px solid #303744;
}
.footer-recent-news:last-child {
  padding-top: 12px;
  border-top: none;
  border-bottom: none;
}
.footer-recnet-news-text {
  padding-left: 10px;
  font: 13px "Roboto", sans-serif;
  line-height: 1.5;
}
.footer-contact-info {
  padding-top: 45px;
}
.footer-email {
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid #303744;
}
.footer-email p {
  padding-left: 10px;
}
.footer-phone {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #303744;
}
.footer-phone i {
  padding-top: 10px;
}
.footer-phone-number {
  padding-left: 15px;
  line-height: 1.5;
}
.footer-address {
  display: flex;
  border-bottom: 1px solid #303744;
  padding: 12px 0;
}
.footer-address p {
  padding-left: 15px;
}
.footer-social-links {
  padding-top: 12px;
}
.footer-social-links i {
  padding-right: 20px;
  color: white;
}
.footer-email-wrap {
  padding-top: 45px;
}
.footer-email-text {
  font: 13px "Roboto", sans-serif;
  padding-bottom: 12px;
  color: white;
}
.footer-email-form {
  padding: 12px 0;
}
form {
  display: flex;
}
form input[type="email"] {
  padding: 15px 15% 15px 15px;
  font: 13px "Roboto", sans-serif;
}
form input[type="submit"] {
  padding: 15px;
  background: #fab702;
  border: none;
  color: #ffffff;
}
.footer-privacy {
  color: #919191;
  font: 12px "Roboto", sans-serif;
}
/* footer bottom */
.footer-nav-bottom {
  background: #4c5b6d;
}
.footer-bottom-left,
.footer-bottom-left a {
  padding: 25px 0;
  color: #d8deff;
  text-decoration: none;
}

.footer-bootom-navbar {
  padding: 25px 0;
}
.footer-bootom-navbar li {
  list-style-type: none;
  float: left;
  padding-right: 20px;
}
.footer-bootom-navbar li a {
  color: #d8deff;
  text-decoration: none;
}

@media only screen and (max-width: 1207px) {
  /* For desktop: */
  .consult {
    padding: 30px 0;
    font: 20px "Roboto", sans-serif;
  }
  .quote-btn button {
    padding: 15px 30px;
  }
  .portfolio-card-heading {
    font: bold 15px "Roboto", sans-serif;
  }
  .portfolio-card-link a {
    padding: 5px;
  }
}
@media only screen and (max-width: 970px) {
  /* For tablets: */
  .heading {
    padding-top: 150px;
    font-size: 50px;
  }
  .description {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.7;
  }
  .explore {
    padding-bottom: 150px;
  }
  .explore button {
    padding: 20px 30px;
  }
  .service-heading {
    padding-top: 100px;
  }
  .service-heading h1 {
    padding-bottom: 30px;
  }
  .services-description {
    padding-bottom: 40px;
  }
  .service-card-heading {
    padding-bottom: 20px;
  }
  .service-card-description {
    padding-bottom: 30px;
  }
  .service-card-readmore {
    padding-bottom: 100px;
  }
  .testimonial-types {
    padding: 80px 0;
  }
  .testimonial-info {
    padding-bottom: 20px;
    margin-left: 40px;
  }
  .testimonial-img {
    padding: 5px 0 0 0;
  }
  .testimonial-img img {
    width: 60px;
    height: 70px;
  }
  .testimonial-heading {
    padding-bottom: 5px;
    font-size: 14px;
  }
  .testimonial-description p {
    font-size: 14px;
  }
  .portfolio-info {
    padding: 70px 0 70px 0;
  }
  .portfolio-heading {
    /* width: 50%; */
    font: bold 44px "Montserrat-black", sans-serif;
    padding-bottom: 20px;
  }
  .portfolio-description {
    padding-bottom: 50px;
    width: 70%;
  }
  .portfolio-card-footer {
    padding: 25px 10px 25px 20px;
  }

  .portfolio-card-heading {
    width: 50%;
    font: bold 13px "Roboto", sans-serif;
  }
  .feedback-text {
    padding: 80px 0;
  }
  .feedback-heading {
    font: bold 40px "Montserrat-black", sans-serif;
    padding-bottom: 20px;
  }
  .brand {
    padding: 80px 0;
  }
  .featured-news-heading {
    padding-top: 100px;
  }
  .featured-newss-description {
    padding-bottom: 100px;
  }
  .featured-news-card-readmore {
    padding-bottom: 100px;
  }
  form input[type="email"] {
    padding: 15px;
  }
  form input[type="submit"] {
    padding: 10px;
  }

  form input[type="email"] {
    padding: 0 5px 0 5px;
  }
  form input[type="submit"] {
    padding: 8px;
    height: 35px;
  }
  .footer-contact-info {
    font-size: 13px;
  }
}
@media only screen and (max-width: 768px) {
  .left {
    text-align: center;
  }
  .right {
    display: block;
  }
  .email {
    display: flex;
    margin-right: 0;
    margin-bottom: 10px;
    justify-content: center;
  }
  .phonenumber {
    display: flex;
    justify-content: center;
  }
  .heading {
    padding-top: 100px;
    font-size: 25px;
  }
  .description {
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 1.5;
  }
  .explore {
    padding-bottom: 100px;
  }
  .consult {
    padding: 26px 0 15px 0;
    font: 14px "Roboto", sans-serif;
  }
  .consult span {
    font: italic 16px "Roboto", "sans-serif";
  }
  .quote-btn {
    padding: 20px 0;
  }
  .quote-btn button {
    padding: 10px 15px;
  }
  .service-heading {
    padding-top: 50px;
  }
  .service-heading h1 {
    padding-bottom: 10px;
  }
  .services-description {
    padding-bottom: 20px;
    width: 100%;
  }
  .sm-container {
    display: block !important;
  }
  .service-card {
    width: 100%;
  }
  .service-card-img {
    padding-bottom: 30px;
  }
  .service-card-heading {
    padding-bottom: 10px;
  }
  .service-card-description {
    padding-bottom: 20px;
    line-height: 1.7;
  }
  .service-card-readmore {
    padding-bottom: 50px;
  }
  .video {
    width: 100%;
    max-height: 400px;
    height: 400px;
  }
  .testimonial-types {
    width: 100%;
  }
  .testimonial-info {
    width: 80%;
  }
  .portfolio-heading {
    font: bold 20px "Montserrat-black", sans-serif;
    padding-bottom: 10px;
  }
  .portfolio-description {
    padding-bottom: 20px;
    width: 100%;
  }
  .portfolio-card {
    width: 100%;
  }
  .feedback-heading {
    font: bold 20px "Montserrat-black", sans-serif;
    padding-bottom: 10px;
  }
  .feedback-description {
    line-height: 1.5;
    width: 100%;
  }
  .counter-wrap {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
  }
  .counter p:first-child {
    padding-bottom: 10px;
    font: 13px "Montserrat-black", sans-serif;
  }
  .style-1 {
    padding: 30px 0;
  }
  .style-1-text h3 {
    font: bold 14px "Roboto", sans-serif;
  }
  .style-1-btn button {
    background: #fab702;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 13px;
  }
  .style-1-text {
    padding-bottom: 10px;
  }
  .featured-news-heading {
    padding-top: 50px;
  }

  .featured-news-heading h1 {
    font: bold 18px "Montserrat-Bold", sans-serif;
    padding-bottom: 10px;
  }
  .featured-newss-description {
    padding-bottom: 50px;
    width: 100%;
  }
  .featured-news-card {
    width: 100%;
  }
  .featured-news-card-img {
    padding-bottom: 30px;
  }
  .featured-news-card-heading {
    padding: 0 0px 5px 0;
  }
  .featured-news-card-description {
    font: 14px "Roboto", sans-serif;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .featured-news-card-readmore {
    padding-bottom: 50px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer-link {
    width: 100%;
  }
  .footer-heading {
    padding-top: 35px;
  }
  .footer-recent-news {
    display: flex;
    justify-content: left;
    padding: 30px 0 12px 0;
  }
  .footer-bottom-left {
    text-align: center;
  }
  .footer-bootom-navbar {
    text-align: center;
  }
  .footer-bootom-navbar li {
    list-style-type: none;
    float: none;
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .brand {
    display: block;
  }
  .brand-logo {
    width: 100% !important;
  }
  .style-1-wrap {
    display: block;
  }
  .quote-btn {
    padding: 0px 0 20px 0;
  }
}
