* {
  padding: 0;
  margin: 0;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.active {
  color: #fab702;
}
/* header */
/* topnav */
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

header {
  max-height: 155px;
}

.topnav {
  background: #f5f5f5;
}

.left {
  padding: 20px 0 16px 0;
}
.left a {
  text-decoration: none;
  color: black;
}
.right {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 16px 0;
}
.right .email span {
  display: inline-block;
}
.contact {
  float: right;
  line-height: 0.9;
}
.email {
  margin-right: 45px;
}

.right .email img {
  margin-right: 5px;
}
.contact-img {
  margin-right: 5px;
}

/* Navbar */

nav {
  background: #ffffff;
}

.logo {
  padding: 25px 0 25px 0;
}

.navbar {
  padding: 50px 0 30px 0;
  display: flex;
}
.navbar ul {
  padding: 0;
  margin: 0;
}
.navbar ul li {
  list-style-type: none;
  float: left;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

a.active {
  color: #fab702;
}
.search {
  padding-left: 40px;
}

/* banner */
.banner {
  background: #a7a9fe;
}

.heading {
  padding-top: 250px;
  font-family: "Montserrat-black", sans-serif;
  font-weight: bold;
  font-size: 64px;
  color: white;
}
.description {
  color: white;
  padding-top: 35px;
  padding-bottom: 40px;
  line-height: 2;
}

.explore {
  padding-bottom: 250px;
}
.explore button {
  background: #fab702;
  padding: 25px 50px;
  border: none;
}

/* contact-us section */

.contact-us {
  background: #fab702;
}
.consult {
  padding: 40px 0;
  color: white;
  font: 30px "Roboto", sans-serif;
}
.consult span {
  font: italic 30px "Roboto", "sans-serif";
  text-decoration: underline;
  color: black;
}
.quote-btn {
  padding: 30px 0;
}
.quote-btn button {
  padding: 20px 40px;
  color: #fab702;
  font: 14px "Roboto";
  border: none;
  background: white;
}

/* services */

.service-heading {
  text-align: center;
  padding-top: 180px;
}
.service-heading h1 {
  font-size: 44px Bold "Montserrat-black", sans-serif;
  padding-bottom: 40px;
}
.services-description {
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.services-description p {
  font: 14px "Roboto", sans-serif;
  line-height: 2;
}

.service-card {
  width: 30%;
}
.service-card-img {
  padding-bottom: 35px;
}
.service-card-img img {
  width: 315px;
  height: 220px;
}

.service-card-heading {
  padding-bottom: 40px;
}
.service-card-heading h1 {
  font: 22px Bold "Montserrat-black", sans-serif;
}
.service-card-description {
  font: 14px "Roboto", sans-serif;
  line-height: 2;
  padding-bottom: 40px;
}

.service-card-readmore {
  padding-bottom: 125px;
}
.service-card-readmore a {
  font: underline 14px "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}
.service-card-readmore a.active {
  color: #fab702;
  /* text-decoration: underline; */
  padding-bottom: 10px;
  border-bottom: #fab702 1px solid;
}
